<!DOCTYPE html>
<html>
<head>
	<title>Enter a new menu item</title>
</head>
<body>
	<h1>Enter the name of the new menu item</h1>
	<form action = '{{url_for("newMenuItem", restaurant_id =
	restaurant.id)}}' method = 'POST'>
		<fieldset>
		<legend>New item</legend>
		<p>Name:</p>
		<input type = 'text' size = '30' name = 'name' required="required">
		<p>Description:</p>
		<input type = 'text' size = '30' name = 'desc' required="required">
		<p>Price:</p>
		<input type = 'text' size = '10' name = 'price' required="required">
		<p>Course:</p>
		<input type = 'radio' name = 'course' value = 'Appetizer'>Appetizer
		<br>
		<input type = 'radio' name = 'course' value = 'Entree'>Entree
		<br>
		<input type = 'radio' name = 'course' value = 'Dessert'>Dessert
		<br>
		<input type = 'radio' name = 'course' value = 'Drink'>Drink
		<br>
		<input type = 'submit' value = 'Confirm'>
		<a href ='{{url_for("showMenu", restaurant_id = 
		restaurant.id)}}'>Cancel</a>
		</fieldset>
	</form>
</body>
</html>