<!DOCTYPE html>
<html>
<head>
	<title>Enter a new restaurant</title>
	<link rel="stylesheet" 
	href="{{url_for('static', filename='styles.css')}}">
	<link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id = 'layout'>
		<div class = 'listing'>
			<h1>Enter the name of the new restaurant</h1>
			<form action = '{{url_for("newRestaurant")}}' method = 'POST'>
				<p>Name:</p>
				<input type = 'text' size = '30' name = 'name' required="required">
				<input type = 'submit' value = 'Confirm'>
				<a href = '{{url_for("showRestaurants")}}'>Cancel</a>
			</form>
		</div>
	</div>
</body>
</html>